.register-container {
    max-width: 400px;
    /* margin:10px auto; */
    margin-left: 140px;
    padding: 2rem;
    /* opacity: 90%; */
    background-color: transparent;
    border-radius: 16px;
    box-shadow: 04px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .register-container h2 {
    text-align: left;
    margin-bottom: 1.5rem;
    color:rgb(100, 113, 128);
    font-size:2rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #555;
    font-size: larger;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s;
    opacity: 70%;
  }
  
  .form-group input:focus {
    border-color:rgb(111, 127, 147);
    outline: none;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    background-color:rgb(111, 127, 147);
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color:rgb(88, 99, 111);
  }
  